<template>
  <div class="q-gutter-md">
    <TournamentTimer v-bind:endDate="endDate"/>
    <TournmentRegisterUser @register="addUser"/>
    <div class="flex flex-center" id="leaderboard">
      <!-- Header section of leaderboard, includes search and sorting options -->
      <div class="options row">
        <div>
          <label class="text-weight-bold text-accent">WEEK</label>
          <q-select rounded dark dense bg-color="uiDark" color="white" class="leaderboard-item leaderboard-week" v-model="currentTournamentDate" :options="tournamentDateOptions"/>
        </div>
        <div>
          <label class="text-weight-bold text-accent">SORT</label>
          <q-select rounded dark dense bg-color="uiDark" color="white" class="leaderboard-item leaderboard-points text-accent" v-model="currentSortOption" :options="sortOptions"/>
        </div>
        <div>
          <label class="text-weight-bold text-accent">SEARCH</label>
          <q-input rounded dark dense bg-color="uiDark" color="white" type="search" class="leaderboard-item leaderboard-search" v-model="searchQuery"/>
        </div>
      </div>
      <!-- List of users -->
      <q-list dark class="q-pa-md row leaderboard-content">
        <TournamentLeaderboardEntry v-for="(user, index) in displayedUsers"
            v-bind:index="index"
            v-bind:key="user.id + keyOffset"
            v-bind:name="user.name"
            v-bind:rank="user.rank"
            v-bind:date="user.date"
            v-bind:points="user.points"/>
      </q-list>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import TournamentLeaderboardEntry from 'components/TournamentLeaderboardEntry.vue'
import TournamentTimer from 'components/TournamentTimer.vue'
import TournmentRegisterUser from 'components/TournmentRegisterUser.vue'
import { UserEntry } from 'src/components/UserEntry'

export default defineComponent({
  name: 'TournamentLeaderboard',
  components: {
    TournamentLeaderboardEntry,
    TournamentTimer,
    TournmentRegisterUser
  },
  data: function () {
    return {
      searchQuery: '',

      currentTournamentDate: '27/09/21 - 3/10/21',
      tournamentDateOptions: [
        '27/09/21 - 3/10/21', '20/09/21 - 26/09/21', '13/09/21 - 19/09/21', '6/09/21 - 13/09/21'
      ],

      currentSortOption: 'Points',
      sortOptions: [
        'Points', 'Age'
      ],
      users: [] as UserEntry[],
      displayedUsers: [] as UserEntry[],

      // Create a date for a few days into the future, usually would fetch from the server
      endDate: new Date(+new Date() + 119006370),

      // Offsets keys so objects are not reused, as this interferes with the animations
      keyOffset: 0
    }
  },
  methods: {
    sortUsers () {
      // Sort
      if (this.currentSortOption === 'Points') {
        // Sort by points
        this.displayedUsers.sort(function (a, b) {
          return b.points - a.points
        })
      } else {
        // Sort by start date
        this.displayedUsers.sort(function (a, b) {
          return +b.date - +a.date
        })
      }

      // Offset enough so that we never have collision
      this.keyOffset += this.users.length
    },
    filterUsers () {
      // If there's no filter, display all users
      if (this.searchQuery === '') {
        this.displayedUsers = this.users
        this.sortUsers()
        return
      }

      // Reset displayed users
      this.displayedUsers = []

      const query = this.searchQuery.toLowerCase()

      // Add each user that matches the filter to it
      this.users.forEach((item) => {
        if (item.name.toLowerCase().includes(query)) {
          this.displayedUsers.push(item)
        }
      })

      this.sortUsers()
    },
    generateFakeUsers () {
      // A bunch of names to use for generation
      const first = ['Noah', 'Liam', 'Lucas', 'Oliver', 'William', 'Gabrial', 'Daniel', 'Adam', 'Benjamin', 'James', 'Ethan', 'Alexander', 'Samuel', 'Jacob', 'David', 'Leo', 'Logan', 'Mason', 'Jack', 'Elijah', 'Henry', 'Thomas', 'Sebastian', 'Michael']
      const last = ['Peterson', 'Vigor', 'Chavez', 'Whitley', 'Sheppard', 'Levinson', 'Gould', 'Landgraab', 'Gonzalez', 'Thorn', 'Blyte', 'Scott', 'Carfield', 'Bradford', 'Moore', 'Trump', 'Adams', 'Foster', 'Ross', 'Ardern', 'Smith', 'Pearson', 'Wong', 'Pancakes']

      const userCount = 34

      // Ensure users array is empty
      this.users = []

      // Loop over the amount of users we want and add them
      for (let i = 1; i < userCount; i++) {
        // Push to array, generating fake data alon the way
        this.users.push({
          id: Math.round(Math.random() * 1000000000000000),
          rank: i,
          name: first[Math.floor(Math.random() * first.length)] + ' ' + last[Math.floor(Math.random() * last.length)],
          date: new Date(1500000000000 + (Math.random() * 150000000000)),
          points: Math.round(100000 - (i * (100000 / userCount)) + (Math.random() * (100000 / userCount)))
        })
      }

      // Set the list of displayed users to show all the users
      this.filterUsers()
    },
    addUser (user: UserEntry) {
      // New user has basic properties
      user.points = 0
      user.date = new Date()
      // Usually would fetch from the server
      user.id = Math.round(Math.random() * 1000000000000000)
      user.rank = this.users.length + 1

      this.users.push(user)
      this.filterUsers()

      // Scroll to new user
      window.scrollTo(0, document.body.scrollHeight)
    }
  },
  watch: {
    // Any time the sorting changes we should re-sort the users list
    currentSortOption: function () {
      this.sortUsers()
    },
    // Any time the filter changes we should re-filter the users list
    searchQuery: function () {
      this.filterUsers()
    },
    // Whenever the users list is changed we should make sure it is still filtered & ordered
    users: function () {
      this.filterUsers()
    },
    // Usually we'd fetch the results from the server here, but since there is no server i'll just regenerate the results
    currentTournamentDate: function () {
      this.generateFakeUsers()
    }
  },
  created: function () {
    this.generateFakeUsers()
  }
})
</script>

<style scoped lang="scss">

#leaderboard {
  background-color: $dark;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.q-field span {
  color: white !important;
}

.options {
  background: linear-gradient(180deg, $secondary 0%, $primary 100%);
  flex-direction: row;
  display: flex;
  padding: 5px 20px 5px 20px;
  width: 100%;
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

.leaderboard-content {
  border: 3px solid $primary;
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  border-top: none;
  min-width: 100%;
  min-height: 200px;
}

.leaderboard-item div {
  background-color: white !important;
}

.leaderboard-week {
  min-width: 200px;
}

.leaderboard-points {
  min-width: 120px;
}

label {
  align-items: center;
  display: inline-flex;
  margin-right: 20px;
}

</style>
