<template>
  <XyzTransition xyz="fade down small ease-out-back">
    <q-item clickable v-ripple class="tournament-leaderboard-template xyz-in" v-bind:style="{ '--xyz-delay': animationDelay()}">
      <div class="rank"><span>{{ rank }}</span></div>
      <div class="col">
          <a class="name">{{ name }}</a>
          <a class="join-date">{{ formatDate(date) }}</a>
      </div>
      <a class="points">{{ points }}</a>
    </q-item>
  </XyzTransition>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TournamentLeaderboardEntry',
  props: ['index', 'rank', 'name', 'date', 'points'],
  methods: {
    formatDate (date: Date) {
      // Fetch the current month in string format
      const month = ['January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'][date.getMonth()]

      // Get the year
      const year = date.getFullYear()

      // Substitute
      return `Member Since ${month} ${year}`
    },
    animationDelay: function () {
      // For performance sakes only animate first 40
      if (this.index > 40) {
        return '0s'
      } else {
        // When index is between 0 and 40 this means maximum animation time is 2 seconds
        return String(this.index / 20) + 's'
      }
    }
  }
})
</script>

<style scoped lang="scss">

.tournament-leaderboard-template {
  border-radius: $borderRadius;
  background-color: #603c27;
  background: linear-gradient(220deg, #ad7a43 0%, #a36b2e 100%);
  display: flex;
  flex-direction: row;
  height: 60px;
  width: calc(50% - 20px);
  margin: 10px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  user-select: none;
  animation-fill-mode: forwards;
  padding: 0px;
}

.tournament-leaderboard-template:hover {
  transform: scale(1.02);
}

.name {
  font-weight: bold;
  font-size: 1.3em;
  color: $text;
}

.join-date {
  font-size: 0.9em;
  color: $secondaryText;
}

.rank {
  border-radius: $borderRadius;
  background: #e08b2e;
  width: 60px;
  text-align: center;
  align-items: center;
  display: inline-flex;
  margin-right: 10px;
}

.rank span {
  color: white;
  font-weight: bold;
  font-size: 2em;
  width: 100%;
  font-weight: bold;
}

.col {
  flex-direction: column;
  display: inline-flex;
  padding-top: 5px;
}

.points {
  color: $text;
  font-size: 1.6em;
  font-weight: bold;
  vertical-align: middle;
  align-items: center;
  display: inline-flex;
  padding-right: 20px;
}

@keyframes display {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .tournament-leaderboard-template {
    width: 100%;
    margin: 10px 0px 10px 0px;
  }
}

</style>
