<template>
  <XyzTransition xyz="fade back-6 duration-5">
    <div id="tournament-timer" class="xyz-in">
      <div class="timer-container">
        <div>
          <span class="timer anim" :key="hours">{{ hours }}</span>
          <span class="caption">HOURS</span>
        </div>
        <div>
          <span class="timer anim" :key="minutes">{{ minutes }}</span>
          <span class="caption">MINUTES</span>
        </div>
        <div>
          <span class="timer anim" :key="seconds">{{ seconds }}</span>
          <span class="caption">SECONDS</span>
        </div>
      </div>
    </div>
  </XyzTransition>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TournamentTimer',
  props: ['endDate'],
  data: function () {
    return {
      currentTime: Date.now(),
      hours: '??',
      minutes: '??',
      seconds: '??'
    }
  },
  watch: {
    currentTime: function () {
      const differenceInMilliseconds = this.endDate - this.currentTime

      const hours = Math.floor((differenceInMilliseconds / (1000 * 60 * 60)))
      this.hours = String(hours).padStart(2, '0')

      const minutes = Math.floor((differenceInMilliseconds / (1000 * 60)) % 60)
      this.minutes = String(minutes).padStart(2, '0')

      const seconds = Math.floor((differenceInMilliseconds / (1000)) % 60)
      this.seconds = String(seconds).padStart(2, '0')
    }
  },
  created: function () {
    // Keep updating the time once a second to update the clock
    setInterval(() => {
      this.currentTime = Date.now()
    }, 1000)
  },
  mounted: function () {
    // Set date immediately, otherwise it only happens after a second which makes the site look slow
    this.currentTime = Date.now()
  }
})
</script>

<style lang="scss" scoped>

#tournament-timer {
  text-align: center;
}

.timer-container {
  display: inline-flex;
  flex-direction: row;
}

.timer-container > div {
  margin: 0 10px 0 10px;
}

.caption {
  color: $secondaryText;
  font-size: 1.75em;
  font-weight: bold;
}
.timer {
  color: $text;
  font-size: 5em;
  padding-right: 5px;
  font-weight: bold;
}

.anim {
  animation: 1s borderFadeOut ease-out;
}

// Animate the bottom border being solid red then fading out
@keyframes borderFadeOut {
  from {
    border-bottom: 5px solid rgba(255, 0, 0, 0.418);
  }
  to {
    border-bottom-color: rgba(255, 0, 0, 0);
  }
}

// Make things more compact for mobile devices
@media (max-width: 600px) {
  .timer {
    font-size: 3em;
  }
  .timer-container {
    flex-direction: column;
  }
}
</style>
