<template>
  <XyzTransition xyz="fade down small ease-out-back delay-15 rotate-right-1">
    <form class="card xyz-in" v-bind:class="{ card: true, 'xyz-in': !registered, 'xyz-out': registered }" submit="return false;">
      <div v-if="!registered">
        <span class="text-h4">Want to join in?</span>
        <q-input dark dense standout rounded label="Username" type="text" v-model="username" />
        <q-input dark dense standout rounded label="Email" type="email" v-model="email" />
        <q-btn rounded dark label="Sign Up" type="submit" color="secondary"  @click="register" />
      </div>
      <div v-if="registered">
        <span class="text-h7">Successfully registered</span>
      </div>
    </form>
  </XyzTransition>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TournmentRegisterUser',
  // Register emitted once the register button is pressed
  emits: ['register'],
  data: function () {
    return {
      username: '',
      email: '',
      registered: false
    }
  },
  methods: {
    register () {
      // TODO: If I had more time, show an invalid circle around the item that's invalid. Also proper email validation
      if (this.username == '' || this.email == '') { return; }

      // Emit event
      this.$emit('register', { name: this.username })

      // Now registered, animate moving out
      this.registered = true
    }
  }
})
</script>

<style lang="scss" scoped>
.card {
  background: linear-gradient(180deg, $secondary 0%, $primary 100%);
  border: none;
  flex-direction: column;
  position: fixed !important;
  bottom: 20px;
  left: 20px;
  width: 300px;
  position: absolute;
  z-index: 3;
}

.q-field  div {
  background-color: pink !important;
}

// Get all form elements and add spacing between them
.card > div > * {
  margin: 5px 0 5px;
}

.q-btn {
  width: 100%;
}

.text-h4 {
  font-size: 1.8em;
  padding-bottom: 10px;
  font-weight: bold;
  display: block;
  text-align: center;
}

@media (max-width: 1000px) {
  .card {
    position: relative !important;
    margin-top: 40px;
    width: inherit;
    left: 0px;
  }
}
</style>
