// Import the functions/mixins
@import '@animxyz/core';

// Add all the core/utilities selectors
@include xyz-all;

// app global css in SCSS form
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 800px) {
  .container,
  .container-sm {
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 850px;
  }
}

.card {
    background: $background;
    border-radius: $borderRadius;
    border: 3px $primary solid;
    color: white;
    padding: 10px;
}