// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #c2002d;
$primaryDark : #8F0021;
$secondary : #ec1b4c;
$secondaryDark : #CC3D5F;
$accent    : #ffffff;

$text    : #ffffff;
$secondaryText    : #dddddd;

$borderRadius: 15px;

$dark      : #1D1D1D;

$background: #1D1D1D;
$uiDark : rgba(68, 68, 68, 1);
$uiLight : rgba(220, 220, 220, 0.28);

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
