<template>
  <q-layout view="lHr lpr lFr">

    <q-header reveal elevated bordered class="text-white">
      <q-toolbar class="container">
        <q-toolbar-title>
          <img alt="Ruby Play Network logo" height="50" src="../assets/full_logo.webp" id="logo">
          <span class="text-h4 title">Coding Test UI/UX</span>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container class="container">
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MainLayout'
})
</script>

<style scoped lang="scss">
.q-layout {
  background: black;
  background-image: url("../assets/double-bubble-dark.png");
}

.q-header {
  background-color: transparent;
  background-image: url("../assets/double-bubble-dark.png");
}

/* Make the header text centered vertically */
.q-toolbar__title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px rgb(87, 86, 86) solid;
}

#logo {
  position: absolute;
  left: 10px;
}

.title {
  padding-left: 20px;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px;
}

@media (max-width: 700px) {
  #logo {
    visibility: hidden;
  }
}
</style>
